.flights {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    margin:10px;
    color:black;
    background-color: rgba(255, 255, 255, 0.89);
}

table {
    border-collapse: collapse;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}  

td, th {
    margin-left: 10px;
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}
