.searchForm{
    background-color: #090f63;
    border-radius: 25px;
    padding: 20px;
    width: 80%;
    height: 150px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    margin: auto;
}

.date_pickers{
    display: flex; 
    flex-direction: row;
    align-items: center;
}