.searchbox {
  background-color: #090f63;
  width: 80%;
  margin: 0 auto; 
  padding: 20px; 
  border: 1px dotted black; 
  height: 80vh; 
  overflow-y: auto;
  display: flex; 
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  border-radius: 25px;
}

.searchForm{
  background-color: #090f63;
  width: 80%;
  margin: 0 auto; 
  padding: 20px; 
  border: 1px dotted black; 
  height: 80vh; 
  overflow-y: auto;
  display: flex; 
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  border-radius: 25px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  background-color: #008140;
  padding: 20px 20px;
  height: 10px;
  color: white; 
  border-radius: 12px;
  display: block;
  line-height: 0px;
  font-size: 16px;
}

label {
  font-size: 20px;
}


#queryInput {
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.input {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;

}

.searchForm{
    border-radius: 25px;
    padding: 20px;
    width: 80%;
    height: 150px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    margin: auto;
}

.date_pickers{
    display: flex; 
    flex-direction: row;
    align-items: center;
}

.search{
    background-color: rgb(255, 255, 255);
    color: #000;
    width: 80%;
    height: 10px;
}